body {
    box-sizing: border-box;
    background-color: black;
    font-family: monospace;
    color: #00ff44;
    font-size: 1.5em;
    line-height: 1.1em;
}

.select {
    position: absolute;
    height: 800px;
    width: 35%;
    top: 100px;
    left: 10%;
}

.content {
    position: absolute;
    height: 800px;
    width: 35%;
    top: 100px;
    right: 15%;
}

/*.content, .select {
    border: solid #ffffff;
    border-width: 1px;
    border-color: white;
}*/

.content h1 {
    text-align: center;
}

.content div {
    position: absolute;
    display: none;
    min-width: 100%;
}

#about-container, #hangr-about-container, #stock-sentiment-about-container {
    display: block;
}

.tree-header {
    all: unset;
    display: none;
    cursor: pointer;
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    outline: none;
    color: #00ff44;
}

#about-me-btn {
    display: none;
}

.tree-header:hover {
    text-decoration: underline;
}

.tree-content {
    display: none;
    color: white;
    padding-left: 20px;
}

.tree-content a, button {
    background: none;
    border: none;
    font: inherit;
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
    outline: inherit;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.tree-content a:hover, button:hover {
    text-decoration: underline;
}

.tree:before {
    content: "";
    position: relative;
    left: -10px;
    border-left: 2px solid white;
}

.tree-header:focus {
    outline: none;
}

.tree-header:active {
    outline: none;
}

.content-btn {
    color: white;
}
