body {
    border: solid black 20px;
    border-left: solid black 40px;
    border-right: solid black 40px;
    background-color: black;
    font-family: monospace;
    font-size: 18px
}

h1 {
    color: #00ff44;
}

.tree-header {
    all: unset;
    display: block;
    cursor: pointer;
    color: #00ff44;
    font-weight: bold;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
    outline: none;
}

.tree-header:hover {
    text-decoration: underline;
}

.tree-content {
    display: none;
    color: white;
    padding-left: 20px;
}

.tree-content a {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 20px;
}

.tree-content a:hover {
    text-decoration: underline;
}

.tree:before {
    content: "";
    position: relative;
    left: -10px;
    border-left: 2px solid white;
}

.tree-header:focus {
    outline: none;
}

.tree-header:active {
    outline: none;
}
